@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap');

:root {
  --font-primary: 'Poppins',sans-serif;
  --font-secundary: 'Sora',sans-serif;

  --color-white: #efe8e6;
  --color-black: #222222;
  --color-forHover: #a6ff00;

  --font-size-title: 5rem;
  --font-size-other: 30px;

  --border-radius: 30px;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: var(--font-secundary);
  background: url('/assets/bg-texture.png') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  align-items: center;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-primary);
  color: var(--color-black);
}

.title {
  font-size: var(--font-size-title);
  font-weight: 900;
  text-transform: uppercase;
  align-items: center;
  margin: 1.5rem 0 -1rem 0;
  }

.description {
  font-size: var(--font-size-other);
  text-align: center;
  font-weight: 600;
}

.main {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.sidebar {
  width: 200px;
  background-color: var(--color-black);
  border-radius: var(--border-radius);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: var(--color-white);
  padding: 3rem;
  margin: 0 0 1.5rem 1.5rem;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sidebar:hover {
  transform: translateY(-3px);
  box-shadow: 0 12px 40px 0 rgba(0, 0, 0, 0.5);
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 1.2rem;
  cursor: pointer;
}

.content {
  flex: 1;
  overflow-y: auto;
  box-sizing: border-box;
}

.loading-msg {
  color: var(--color-black);
  font-family: var(--font-primary);
  font-weight: bolder;
  font-size: 250px;
  padding: 5rem;
}

.top-bar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem;
}

.card {
  background-color: var(--color-black);
  border-radius: var(--border-radius);
  color: var(--color-white);
  padding: 1rem;
  text-align: center;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 40px 0 rgba(0, 0, 0, 0.5);
  border: 2px solid var(--color-forHover);
}

.stats-cards {
  display: flex;
  gap: 1rem;
}

.search-bar {
  margin: 0 1rem 0 0 ;
}

.search-bar input {
  padding: 1.5rem;
  width: 540px;
  border: none;
  background-color:  var(--color-black);
  color: var(--color-white);
  border-radius: var(--border-radius);
}

.platform-filter select {
  padding: 1.5rem;
  border-radius: var(--border-radius);
  border: none;
  background-color: var(--color-black);
  color: var(--color-white);
  font-size: 1rem;
  appearance: none;
  cursor: pointer;
}

.platform-filter select option {
  background-color: #2a2a2a;
  color: var(--color-white);
}

.filters-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 0 1rem 0 0;
}

.rating-filter {
  padding: 1.5rem;
  width: 400px;
  border-radius: var(--border-radius);
  background-color:  var(--color-black);
  color: var(--color-white);
}

.rating-filter input {
  margin-left: 2rem;
  width: 210px;
  cursor: pointer;
}

.release-filter {
  width: 373px;
  padding: 1.5rem;
  border-radius: var(--border-radius);
  background-color:  var(--color-black);
  color: var(--color-white);
}

.release-filter label {
  margin-right: 3.5rem;
  cursor: pointer;
}

.data-summary{
  font-size: var(--font-size-other);
  font-weight: 900;
  margin: 1rem;
}

.game-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem;
}

.game-card {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  border-radius: var(--border-radius);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: var(--color-black);
  padding: 1rem;
  width: 200px;
  text-align: center;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.game-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 40px 0 rgba(0, 0, 0, 0.5);
  border: 2px solid var(--color-forHover);
}

.game-card img {
  width: 100%;
  height: 144px;
  object-fit: cover;
  border-radius: 20px;
}

.back-button {
  margin-bottom: 1.5rem;
  padding: 0.5rem 1rem;
  background: #222;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
}

.game-detail-container {
  background: rgba(0, 0, 0, 0.5);
  margin: 0 2rem 1.5rem 2rem;
  padding: 2rem;
  border-radius: 1.5rem;
  color: white;
}

.game-detail-container h2 {
font-size: 4rem;
}

.game-detail-container img {
  width: 50%;
}

.game-detail-container p{
  font-size: var(--font-size-other);
}

.loading-msg {
  color: var(--color-black);
  font-family: var(--font-primary);
  font-weight: bolder;
  font-size: 250px;
  line-height: 13rem ; 
  padding: 5rem;
}

.toggle-chart-btn{
margin-left: 1.5rem;
padding: 0.5rem 1rem;
background: #222;
color: white;
border: none;
border-radius: 8px;
cursor: pointer;
font-size: 1.5rem;
}